VITE_APP_ENV=development #change to 'production' when in production environment
VITE_BACKEND_URL=
VITE_BASE_CURRENCY=Pounds
VITE_CURRENCY_CODE=GBP
VITE_ADMIN_DYNAMIC_ROUTE=xKOHwyHGt7JB3xKOHwyHGt7JB3iaj41LpwZoLoPPa9TcxT9TcxTw4sofM6Y
# route for admin dashboard

VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_FOR_OAUTH_REGISTERATION
#google client id for admin oauth registeration


#for payment
VITE_PAYSTACK_PUBLIC_KEY=
