.basic-spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid #33333370; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .8s linear infinite;
    margin: 100px auto; 
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



